body{
    background: #fefefe;
    /* margin: 5rem;  */ /* Rafael:Comente esto porque no permite colocar el Navbar y el tagline pantalla completa */
    /* paulo // Agregué esto aca para darle espaciado a la pagina entera*/
}

/* PARA EL TAGLINE */
.tagline-parent {
    /* The image used */
    background-image: url("../img/bg.jpg");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 600px;

    position: relative;
    /* opacity: 0.90; */
 }

 .tagline-border{
    text-align: center;
    background-color: #F5F9FC;
    color: black;
    padding: 18px;
    opacity: 0.85;
 }