<!-- your html code here -->
<div class="container-fluid py-5 border-bottom">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between">
                <div class="flex-column">
                    <h1>The First Heading <label class="text-black-50">Will Catch Your Eye</label></h1>
                    <p class="fs-5">Donec ullamcoper nulla non metus auctor fringilla. Vestibulum id ligula porfa felis 
                        euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
                <img class="rounded-circle w-25" src="https://raw.githubusercontent.com/breatheco-de/exercise-collaborative-html-website/master/website/assets/img/1.jpg" alt="Walter White">
            </div>
        </div>
    </div>
    
</div>