<!-- your html code here -->

<div class="container text-flex">
    <div class="row">  
        <div class="col-3">
            <img src= "https://s3.amazonaws.com/rackcdn.kikvid.com/videos/3936486f9cd9f1b72a87e735204635c6/thumbnails/thumb_3_480x270.jpg" class="rounded float-start width:30%" alt="happytreefriends">
        </div>
    </div>

    <div class="row">  
        <div class="col-9">
                <div class="card">
                    <h5><strong>The Second Heading <span= class="text-secondary">Is Pretty Cool Too.</span></h5></strong></h5>
                    <p class="card-text">Duis sit amet maximus sem. Praesent posuere a ante viverra gravida. Mauris a blandit est, eget ultrices leo. 
                        Nulla sollicitudin leo libero, eu egestas magna ornare vitae. Sed malesuada, diam ut suscipit tempus, erat neque dignissim erat, 
                        quis blandit nisl mauris non est.</p>
                    </div>
                </div>
        </div>
    </div>
</div>